*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: white;

}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
#crsr{
        height: 2vw;
        width: 2vw;
        border-radius: 50%;
        border: 3px solid rgba(255, 255, 255, 0.649);
        position: fixed;
        z-index: 999;
        mix-blend-mode: difference;
        transform: translate(-50%,-50%);
        
}

#loader{
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
    position: fixed;
    z-index: 999;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: silk serif;
}
#line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
.line h2{
    font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: Plain light;
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
    }
    47%{
        font-family: plain light;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: white;
        opacity: 0;
    }
    50%{
        font-family: silk serif;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: silk serif;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}


#main{
    position: relative;
    background-color: #151515;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 3vw;
}
#nav-part2 h4{
    /* font-size: 1vw; */
    font-family: plain light;
    font-weight: 400;
}
.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99;
}
.hero h2:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid rgba(0, 0, 0, 0.038);

}
.hero:nth-child(2){
    margin-top: 16vh;
}
.hero h1,h2,h3{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7.5vw;
}
.hero h2{
    border-bottom: 0.5vw solid white;
    padding-bottom: 0.8vw;
}
#page2{
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
}
#video-container{
    height: 60vh;
    width: 70vw;
    position: relative;
    left: 29.2%; 
    /* background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg); */
}
#video-container img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-cursor{
    background-color: orange;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10%;
    left: 80%;
    z-index: 99;
}
#video-cursor i{
    font-size: 2vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(59, 59, 59);
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(59, 59, 59); */
    position: relative;
    padding: 5vh 0;
}
#page4-content{
    width: 72vw;    
    position: relative;
    margin-left: 28%; 
    /* background-color: red; */
}
#page4-content h1{
    font-family: plain light;
    font-size: 7vw;
    text-transform: uppercase;
}
.underline{
    height: 0.1vh;
    width: 90%;
    background-color: #fff;
    margin-top: 7vh;
}
#page4-content>p{
    margin-top: 7vh;
    font-size: 2.2vw;
    font-weight: 500;
    width: 35vw;
}
#page4-flex{
    margin-top: 4vw;
    display: flex;
    gap: 1.5vw;
}
#page4-flex img{
    height: 73vh;
    width: 33vw;
}
#page4-flex p{
    width: 27%;
    line-height: 3vh;
}
#page4-bluediv{
    position: relative;
    top: -13.5vw;
    left: 23vw;
    background-color: #3F7DF4;
    width: 32vw;
    /* height: 100vh; */
    padding: 4vw 3vw ;
}
.bluediv-elem{
    font-size: 1.5vw;
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    margin-bottom: 2.5vw;
    border-bottom: 0.1vw solid rgba(255, 255, 255, 0.805);
    padding: 0.9vw 0;
}

.bluediv-elem p{
    width: 10vw;
    font-size: 1vw;
}
.bluediv-elem h4{
    width: 12vw;
    font-weight: 400;
}
#afterline{
    height: 1px;
    width: 90%;
    background-color: #fff;
    position: absolute;
    top: 118vw;
}
#page5{
    min-height: 100vh;
    width: 100%;
}






